ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul:hover > li,
ul:hover > li > a,
ul:hover > li > a > div > .list-description,
ul:hover > li > a > .list-separator,
ul:hover > li > a > .list-year {
  color: var(--home-list-unfocused-text-color2);
  transition-property: color;
  transition-duration: 250ms;
}

ul > li:hover,
ul > li:hover a {
  color: var(--home-list-default-text-color);
  cursor: pointer;
}

ul > li:hover a > div > .list-description,
ul > li:hover a > .list-year {
  color: var(--home-list-unfocused-text-color);
}

.list-link-article {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 16px 0;
}

.list-description {
  color: var(--home-list-unfocused-text-color);
}

.list-separator {
  flex: 1 1 0;
  min-width: 50px;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--home-list-unfocused-text-color2);
}

.list-year {
  color: var(--home-list-unfocused-text-color);
}

.list-left-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
