@font-face {
  font-family: "FiraSans"; /* Name your font family */
  src: url("./assets/font/Fira_Sans/FiraSans-Regular.ttf")
    surl("./assets/font/Fira_Sans/FiraSans-Bold.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "FiraSans", sans-serif;
  line-height: 1.5;
  --primary-color: #00aeef;
  --secondary-color: #242424;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
  overflow-wrap: break-word;
}

h1 {
  font-size: 34px;
}

p,
span,
li,
a,
button {
  letter-spacing: 0.3px;
}
img {
  border-radius: 8px;
}

figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin-bottom: 10px;
}

button,
a {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
  white-space: nowrap;
}

footer {
  margin-top: 100px;
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  &:hover {
    background-color: #0077b5;
    border: 1px solid #0077b5;
  }
}

.button-secondary {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid white;
  &:hover {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
  }
}

/* TOP BAR */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 16px;
  span {
    letter-spacing: 0.8px;
  }
  .top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* HERO */
.hero {
  background-color: var(--primary-color);
  width: 100%;
  height: 75%;
  h2 {
    font-weight: normal;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    color: white;
    padding: 100px 15%;
    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 20px;
    }
    img {
      max-width: 400px;
      margin-left: auto;
    }
  }
}

/* COMPETENCES */
.competences {
  padding: 100px 15%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  .competences-container {
    margin-top: -180px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    .icon {
      width: 50px;
    }
    p {
    }
    h3,
    .muted {
    }
  }
}

/* EXPERTISE */
.expertise {
  padding: 100px 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .expertise-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    min-width: 300px;
    gap: 20px;
    justify-content: center;
  }
  img {
    width: 100%;
  }
}

/* CHANTIERS */
.chantiers {
  padding: 100px 15%;
  h2 {
    margin-bottom: 20px;
  }
  .gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    img {
      width: 100%;
    }
  }
}

/* CONTACT */
.contact {
  color: white;
  background-color: var(--primary-color);
  width: 100%;
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
  }
}

/* AVIS */
.avis {
  padding: 100px 15%;
  h2 {
    margin-bottom: 20px;
  }
  .avis-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    .avis-detail {
      color: #6c757d;
      text-align: center;
      white-space: nowrap;
    }
  }
}

/* ASSURANCES */
.assurances {
  background-color: var(--primary-color);
  color: white;
  .assurances-container {
    padding: 100px 0;
    text-align: center;
  }
  .assurances-details {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* CONTACT FINAL */
.contact-final {
  background-color: var(--secondary-color);
  .contact-final-container {
    padding: 100px 15%;
  }
}

.card {
  background-color: #fff;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #cecece;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  h3,
  p {
    margin: 0;
  }
  span {
    width: 100%;
    text-align: center;
  }
}

/* UTILITIES */
.flex {
  display: flex;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.muted {
  color: #6c757d;
}

.cover {
  object-fit: cover;
}

.radius {
  border-radius: 8px;
}

.no-wrap {
  white-space: nowrap;
}

/* RESPONSIVE  */

@media (width <= 700px) {
  h1 {
    font-size: 36px;
    box-sizing: border-box;
  }
  h2 {
    font-size: 28px;
    box-sizing: border-box;
  }
  h3 {
    font-size: 24px;
    box-sizing: border-box;
  }
  .top-bar {
    font-size: 22px;
  }
  button,
  a {
    font-size: 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  p,
  li,
  span,
  figcaption {
    font-size: 20px;
  }

  .bg-primary {
    width: fit-content;
  }

  .layout-2-col {
    grid-template-columns: 1fr;
    img {
      max-width: 400px;
      margin-left: inherit;
    }
  }

  .container {
    box-sizing: border-box;
  }

  /* TOP BAR */
  .top-bar {
    .top-bar-container {
      flex-wrap: wrap;
    }
  }

  /* HERO  */
  .hero {
    height: auto;
    .hero-container {
      grid-template-columns: 1fr;
      padding: 100px 5%;
      img {
        margin-left: 0px;
        max-width: 100%;
      }
    }
  }

  /* COMPETENCES */
  .competences {
    padding: 100px 5%;
  }

  /* EXPERTISE */
  .expertise {
    padding: 100px 5%;
    grid-template-columns: 1fr;
  }

  /* CHANTIERS */
  .chantiers {
    padding: 100px 5%;
    .gallerie {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }

  /* CONTACT */
  .contact {
    .contact-container {
      padding: 100px 5%;
    }
  }

  /* AVIS */
  .avis {
    padding: 100px 5%;
    .avis-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      .avis-detail {
        color: #6c757d;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  /* CONTACT FINAL */
  .contact-final {
    background-color: var(--secondary-color);
    .contact-final-container {
      padding: 100px 5%;
    }
  }
}
