:root {
  --main-background-color: #151515;
  --home-list-default-text-color: #dedede;
  --home-list-unfocused-text-color: #959595;
  --home-list-unfocused-text-color2: #434343;
}

*:not(h1, h2, h3, h4, b) {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  background-color: var(--main-background-color);
  color: var(--home-list-default-text-color);
}
main {
  margin: 70px auto;
  max-width: 720px;
}

a {
  color: var(--home-list-default-text-color);
}

img {
  max-width: 100%;
  max-height: 100%;
}
