:root {
  --main-background-color: #151515;
  --home-list-default-text-color: #dedede;
  --home-list-unfocused-text-color: #959595;
  --home-list-unfocused-text-color2: #434343;
}

*:not(h1, h2, h3, h4, b) {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  background-color: var(--main-background-color);
  color: var(--home-list-default-text-color);
}
main {
  margin: 70px auto;
  max-width: 720px;
}

a {
  color: var(--home-list-default-text-color);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  aspect-ratio: auto;
}

.border-radius-lg {
  border-radius: 12px;
}

pre {
  background-color: #ffffff0a;
  color: #dedede;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: pre-wrap;
  & code {
    background-color: transparent;
  }
}

code {
  font-family: monospace;
  background-color: #ffffff0a;
  color: #dedede;
  padding: 2px 6px;
  border-radius: 4px;
  line-height: 1.5;
  & ins {
    font-family: monospace;
    padding: 2px 6px 2px 0px;
    border-radius: 4px;
    background-color: #449d5d25;
    color: #449d5d;
    text-decoration: none;
  }
  & del {
    font-family: monospace;
    padding: 2px 6px 2px 0px;
    border-radius: 4px;
    background-color: #9d444425;
    color: #9d4444;
    text-decoration: none;
  }
}

ul,
ol {
  padding-left: 15px;
}
